.container {
    width: 46rem;
    display: flex;
    align-items: center;
    margin: 2rem auto;
    margin-top: -30px;
    column-gap: 8px;

    @media (max-width: 768px) {
        width: 30rem;
    };

    @media (max-width: 500px) {
        width: 22rem;
    }
}

.input {
    width: 90%;
    border-radius: 8px;
    border: 1px solid var(--gray-700);
    background: var(--gray-500);
   
    padding: 16px;

    color: var(--gray-300);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.input:focus {
    box-shadow: 0 0 0 2px var(--purple-dark);
    color: #FFFFFF;
}

.button {
    padding: 16px;
    border-radius: 8px;
    background: var(--blue-dark);
    border: none;

    color: var(--gray-100);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; 

    display: flex;
    align-items: center;
    column-gap: 8px;
}

.button svg {
    width: 1rem;
    height: 1rem;
}

.button:hover {
    background-color: var(--blue);
    
}